@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-image: linear-gradient(to left, #027373, #038C7F, #ADD9D1, #D95252, #0D0D0D);
}

main{
    background-color: white;
    border-radius: 10px;
    width: 600px;
    padding: 15px;
    margin: auto;
    box-shadow: 10px 10px 15px #531b1bb0;
}
h1{
    color: #027373;
    text-align: center;
    text-shadow: 2px 2px 2px #0d0d0d9c;
}
h2{
    color: #D95252;
}
p{
    text-align: justify;
}